.catalog-type__title {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-type__description {
  margin-left: 20px;
  padding-bottom: 23px;
  min-width: 227px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
<<<<<<< HEAD
  border-bottom: 1px solid var(--special-grey);
  color: var(--special-dark-grey);
=======
  color: var(--special-dark-grey);
  border-bottom: 1px solid var(--special-grey);
>>>>>>> c4d94e2c467c371c8479bbbf4b021e8197710d41
}

.catalog-type__link {
  margin-left: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*.catalog-type__link:hover {
  меняется только велчина стрелки
} */

.catalog-type__link:active {
  opacity: 30%;
}
