.catalog__title {
  margin: 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: initial;
  color: var(--basic-black);
}

.catalog__list {
  margin: 41px 0 0 0;
  padding: 0;
  list-style: none;
}

