.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  margin-top: 28px;
  margin-left: 19px;
  min-width: 140px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-black);
}

.contacts__text {
  margin: 28px 0 0 19px;
  min-width: 140px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: var(--special-dark-grey);
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    top: 150px;
    left: 110px;
    min-width: 570px;
  }
}
