.copyright {
  width: 100%;
  padding: 22px 0;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: var(--special-dark-grey);

  &:active {
    opacity: 30%;
  }

  &:active .copyright__icon {
    fill: var(--basic-green);
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: var(--basic-green);
  }
}

.copyright__icon {
  fill: var(--special-grey-2);
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__text {
    min-width: 114px;
    margin-right: 22px;
    white-space: nowrap;
  }
}
