.description {
  padding: 0 20px;
}

.description__title {
  margin: 27px 0 18px 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.description__list {
  margin: 0;
  margin-top: 38px;
  padding: 0;
  padding-bottom: 42px;
  list-style: none;
}

.description__item {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .description {
    padding: 0 105px 0 30px;
    border-bottom: 1px solid var(--special-grey);
  }

  .description__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 18px 137px;
    margin-top: 52px;
    padding-bottom: 6px;
  }

  .description__title {
    margin: 0;
    margin-top: 45px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .description {
    padding: 0 110px 15px;
    border-bottom: none;
  }

  .description__wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .description__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    justify-content: space-between;
    padding-bottom: 150px;
  }

  .description__title {
    margin: 68px 0 18px;
  }

  .description__item {
    margin-top: 22px;
  }
}
