.description__wrapper {
  margin-left: 20px;
  margin-right: 21px;
  margin-top: 27px;
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.description__list {
  list-style: none;
}
