.diets {
  position: relative;
}

.diets__header {
  color: var(--basic-white);
  background: url("../img/index-background-cat.jpg") no-repeat;
  width: 320px;
  height: 302px;
}

.diets__container {
  background: var(--special-green-opacity);
  width: 320px;
  height: 302px;
}

.diets__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  padding-top: 27px;
}

.diets__slogan {
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -5px;
}

.diets__image {
  position: absolute;
  top: 160px;
  left: 20px;
}

.diets__button {
  display: block;
  margin-top: 138px;
  margin-left: 20px;
  width: 280px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
}

.diets__button-text {
  padding-top: 8px;
}

.diets__list {
  margin-top: 200px;
}
