.diets__bg-wrapper {
  display: none;
}

.diets__header {
  position: relative;
  padding: 0 20px;
  color: var(--basic-white);
  background: url("../img/cat-background-mobile.jpg") no-repeat, linear-gradient(0deg, rgba(255, 255, 255, 1) 37%, rgba(99, 167, 60, 1) 37%);
  background-size: 320px 302px, auto;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-background-mobile@2x.jpg") no-repeat;
  }
}

.diets__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
}

.diets__slogan {
  margin-top: 26px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.diets__image {
  display: block;
  margin: 0 auto;
}

.diets__button {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
}

.diets__list {
  margin: 0;
  margin-top: 22px;
}


@media (min-width: @tablet-width) {
  .diets__header {
    padding: 47px 30px 580px 30px;
    background: var(--basic-white);
  }

  .diets__container {
    margin-left: 87px;
  }

  .diets__title,
  .diets__slogan {
    text-align: left;
    color: var(--basic-black);
  }

  .diets__title {
    margin-top: 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .diets__slogan {
    margin-top: 41px;
    font-size: 20px;
    line-height: 20px;
  }

  .diets__image {
    position: absolute;
    top: 249px;
    left: 0;
    right: 0;
    width: 709px;
    height: 609px;
  }

  .diets__button {
    position: absolute;
    top: 273px;
    left: 112px;
    z-index: 2;
    width: 244px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .diets__bg-wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 694px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(99, 167, 60, 1) 50%) no-repeat;
    background-position: 100% 0;
    z-index: 1;
  }

  .diets__header {
    position: relative;
    z-index: 1;
    padding: 144px 110px 0;
    background: url("../img/cat-background-desktop.jpg") no-repeat;
    background-position: 100% 0;
    background-size: 720px 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-background-desktop@2x.jpg") no-repeat;
    }
  }

  .diets__center-wrapper {
    position: relative;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .diets__list {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .diets__container {
    position: absolute;
    z-index: 3;
    margin-left: 63px;
  }

  .diets__wrapper {
    min-height: 602px;
  }

  .diets__title {
    margin-top: 79px;
    padding-left: 15px;
  }

  .diets__slogan {
    padding-left: 15px;
  }

  .diets__button {
    top: 306px;
    left: 80px;
  }

  .diets__image {
    top: 0;
    right: 210px;
    left: auto;
    height: 502px;
    width: 565px;
    z-index: 2;
  }
}
