.fieldset {
  padding: 0;
  border: none;
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--special-dark-grey);
}

.fieldset__title {
  margin: 0  0 33px 0;
  max-width: 187px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: initial;
  color: var(--basic-black);
}

.fieldset--cat .fieldset__list {
  padding-bottom: 10px;
}

.fieldset--cat .fieldset__item {
  margin-bottom: 14px;
}

.fieldset--radio {
  margin: 0;
}

.fieldset--radio .fieldset__list {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  color: var(--special-dark-grey-2);
  border-top: 1px solid var(--special-border-input);
  border-bottom: 1px solid var(--special-border-input);
}

.fieldset--radio .fieldset__item {
  margin-bottom: 24px;
}

.fieldset--contacts .fieldset__item {
  margin-bottom: 14px;
}

.fieldset--contacts .fieldset__item:last-child {
  margin-bottom: 0px;
}

.fieldset--additional .fieldset__item {
  margin-bottom: 25px;
  color: var(--basic-black);
}

.fieldset__input {
  margin-left: 13px;
}

.fieldset--comment .fieldset__input {
  margin-left: 0px;
}

.fieldset__radio {
  display: none;
}

.fieldset__checkbox {
  display: none;
}

.fieldset__input {
  padding: 7px 15px;
  min-height: 45px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: var(--special-dark-grey);
  border: 1px solid var(--special-grey);
}
