.fieldset {
  padding: 0;
  border: none;

  &--cat .fieldset__list {
    padding-bottom: 11px;
  }

  &--cat .fieldset__item {
    margin-bottom: 12px;
  }

  &--radio {
    position: relative;
    border-top: 1px solid var(--special-border-input);
    border-bottom: 1px solid var(--special-border-input);
  }

  &--radio .fieldset__list {
    margin: 0;
    padding: 29px 20px 0;
    color: var(--special-dark-grey-2);
  }

  &--radio .fieldset__item {
    margin-bottom: 25px;
  }

  &--contacts .fieldset__item {
    margin-bottom: 13px;
  }

  &--contacts .fieldset__item:last-child {
    margin-bottom: 0;
  }

  &--additional .fieldset__list {
    margin-top: 5px;
  }

  &--additional .fieldset__item {
    margin-bottom: 25px;
    color: var(--basic-black);
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--special-dark-grey);
}

.fieldset__title {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  left: -20px;
  z-index: 2;
  max-width: 187px;
  margin: 23px 0 35px 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: initial;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

@media (min-width: @tablet-width) {
  .fieldset .fieldset__list {
    padding: 0;
  }

  .fieldset--cat .fieldset__list {
    padding-bottom: 52px;
  }

  .fieldset--cat .fieldset__item {
    margin-bottom: 20px;
  }

  .fieldset--radio {
    margin: 0;

    & .fieldset__list {
      padding: 29px 28px 0;
      border: 1px solid var(--special-border-input);
    }
  }

  .fieldset--contacts .fieldset__item {
    margin-bottom: 20px;
  }

  .fieldset__title {
    left: -37px;
    z-index: 2;
    max-width: 512px;
    margin: 65px 0 76px 0;
    padding: 0 39px;
    font-size: 36px;
    line-height: 36px;
  }

  .fieldset--additional .fieldset__list {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 20px 122px;
    margin: 0;
    padding: 0;
  }

  .fieldset--additional .fieldset__title {
    margin-bottom: 64px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset--cat .fieldset__list {
    padding-bottom: 0;
  }

  .fieldset--radio {
    border: none;

    & .fieldset__list {
      padding-bottom: 0;
    }
  }

  .fieldset--contacts .fieldset__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 80px;
  }

  .fieldset--additional .fieldset__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
  }

  .fieldset__title {
    left: -37px;
    z-index: 2;
    max-width: 512px;
    margin: 20px 0 76px 0;
    padding: 0 39px;
    font-size: 36px;
    line-height: 36px;
  }
}
