.fieldset {
  padding: 0;
  border: none;
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--special-dark-grey);
}

.fieldset__title {
  max-width: 187px;
  margin: 0  0 33px 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: initial;
  color: var(--basic-black);
}

.fieldset--cat .fieldset__list {
  padding-bottom: 10px;
}

.fieldset--cat .fieldset__item {
  margin-bottom: 14px;
}

.fieldset--radio {
  margin: 0;
}

.fieldset--radio .fieldset__list {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  color: var(--special-dark-grey-2);
  border-top: 1px solid var(--special-border-input);
  border-bottom: 1px solid var(--special-border-input);
}

.fieldset--radio .fieldset__item {
  margin-bottom: 24px;
}

.fieldset--contacts .fieldset__item {
  margin-bottom: 14px;
}

.fieldset--contacts .fieldset__item:last-child {
  margin-bottom: 0;
}

.fieldset--additional .fieldset__item {
  margin-bottom: 25px;
  color: var(--basic-black);
}

@media (min-width: @tablet-width) {
  .fieldset--radio .fieldset__list {
    border: 1px solid var(--special-border-input);
  }

  .fieldset--additional .fieldset__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .fieldset--radio {
    margin-left: 80px;
  }

  .fieldset__item--phone {
    margin-left: 78px;
  }

  .fieldset--contacts .fieldset__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fieldset--additional .fieldset__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
