.live-example {
  padding: 27px 20px 31px;
  background-color: var(--special-example-section);
}

.live-example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.live-example__text {
  margin-top: 33px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: var(--special-dark-grey);
}

.live-example__list {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 32px;
  justify-content: center;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
}

.live-example__costs {
  margin-top: 34px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.live-example__slider {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .live-example {
    padding: 43px 30px 0;
    background-color: var(--basic-white);
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .live-example__text {
    margin-top: 63px;
    margin-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__text-wrapper {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: space-between;
    margin-top: 54px;
  }

  .live-example__list {
    margin: 0;
    grid-gap: 42px;
  }

  .live-example__costs {
    justify-self: right;
    width: 174px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .live-example__summary {
    display: block;
    margin-top: 9px;
  }

  .live-example__slider {
    margin: 242px -30px 0;
    padding-bottom: 67px;
    background-color: var(--special-example-section);
  }
}

@media (min-width: @desktop-width) {
  .live-example {
    position: relative;
    padding: 0 110px;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 70%, rgba(234, 234, 234, 1) 70%);
  }

  .live-example__main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .live-example__wrapper {
    z-index: 2;
    background-color: var(--basic-grey);
  }

  .live-example__title {
    position: absolute;
    top: -135px;
  }

  .live-example__text {
    width: 436px;
    margin: 75px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__list {
    margin-top: 11px;
  }

  .live-example__text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
    margin-top: 54px;
  }

  .live-example__costs {
    display: flex;
    justify-self: initial;
    width: 350px;
    margin-top: 62px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .live-example__summary {
    display: block;
    margin: 0;
    margin-left: 63px;
  }

  .live-example__slider {
    margin: 0 -30px 0;
    padding-bottom: 67px;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 53%, rgba(234, 234, 234, 1) 53%);
  }
}
