.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1220px;
  }
}
