.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.page-header__container {
  display: flex;
}

.page-header__logo-image--mobile {
  height: 38px;
  margin-top: 11px;
  margin-bottom: 18px;
}

.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}

.page-header__logo-text {
  margin-top: 25px;
  margin-left: 56px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .page-header__logo-text,
  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: initial;
    margin-top: 5px;
  }

}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 110px;
    z-index: 2;
  }

  .page-header__container {
    margin-top: 53px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: initial;
  }
}
