.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  padding: 19px 0;
  border-top: 1px solid var(--special-grey);
}

.product__title {
  max-width: 76px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark-grey-2);
}

.product__list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  text-transform: initial;
  color: var(--special-dark-grey);
  list-style: none;
}

.product__button {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 22px;
  margin-bottom: 25px;
  padding: 10px 109px;
}

.product--all {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--special-grey);

  .product__title {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    max-width: 204px;
    margin: 79px 0 0 59px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .product__text {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    max-width: 221px;
    margin: 8px 0 0 49px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Arial", sans-serif;
    text-transform: initial;
    color: var(--special-dark-grey);
  }

  .product__button {
    width: 100%;
    margin-top: 21px;
    padding: 20px 94px;
    font-family: "Oswald", "Arial", sans-serif;
    color: var(--special-dark-grey);
    background-color: var(--basic-grey);
  }
}

@media (min-width: @tablet-width) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
  }

  .product__image {
    justify-self: center;
  }

  .product__container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .product__title {
    justify-self: center;
    min-width: 120px;
    text-align: center;
  }
}
