.sub-product {
  border-top: 1px solid var(--special-grey);
}

.sub-product:last-child {
  border-bottom: 1px solid var(--special-grey);
}

.sub-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark-grey-2);
}

.sub-product__text, .sub-product__value {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  text-transform: initial;
  color: var(--special-dark-grey);
}

.sub-product__button {
  margin: 15px 0 19px 0;
  padding: 10px 109px;
}
