.sub-products__wrapper {
  padding: 0 20px;
}

.sub-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: initial;
  color: var(--basic-black);
}

.sub-products__list {
  margin: 35px 0 0 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .sub-products__wrapper {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .sub-products__wrapper {
    padding: 0 110px;
  }

  .sub-products__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 80px;
    justify-content: space-between;
  }
}
