.survey__wrapper {
  margin: 0 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-dark-grey);
}

.survey__main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--basic-black);
}

.survey__sub-title {
  margin-top: 37px;
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.survey__form {
  margin-top: 39px;
}

.survey__fieldset {
  margin: 27px 0 0 0;
}

.survey__button {
  margin-top: 9px;
  padding: 7px 44px;
}

.survey__note {
  margin-top: 21px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
}
