.survey__wrapper {
  padding: 0 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-dark-grey);
}

.survey__main-title {
  margin: 27px 0 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: initial;
  color: var(--basic-black);
}

.survey__sub-title {
  max-width: 226px;
  margin: 37px 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.survey__form {
  margin-top: 39px;
}

.survey__fieldset {
  margin: 0;
}

.survey__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.survey__button {
  margin-top: 15px;
  padding: 10px 44px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
}

.survey__note {
  margin: 21px 0 32px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: initial;
}

@media (min-width: @tablet-width) {
  .survey__wrapper {
    padding: 0 69px 0 67px;
    font-size: 20px;
    line-height: 30px;
  }

  .survey__main-title {
    margin-top: 47px;
    font-size: 60px;
    line-height: 60px;
  }

  .survey__sub-title {
    max-width: 323px;
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
  }

  .survey__form {
    margin-top: 66px;
  }

  .survey__container--button {
    flex-direction: row;
    justify-content: flex-start;
    margin: 31px 0 72px 4px;
  }

  .survey__button {
    width: 282px;
    margin: 0;
    padding: 16px 45px;
    font-size: 20px;
    line-height: 20px;
  }

  .survey__note {
    margin: 16px 0 0 63px;
  }
}

@media (min-width: @desktop-width) {
  .survey__wrapper {
    max-width: 1220px;
    padding: 0 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .survey__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .survey__text-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .survey__main-title {
    margin-top: 75px;
  }

  .survey__sub-title {
    max-width: 323px;
  }

  .survey__container--button {
    grid-template-columns: min-content max-content;
    grid-gap: 80px;
    margin: 31px 0 82px 4px;
  }

  .survey__button {
    width: 568px;
    margin: 11px 0 0;
    padding: 16px 45px;
    font-size: 20px;
    line-height: 20px;
  }

  .survey__note {
    margin: 28px 0 0 0;
  }
}
