:root {
  --basic-green: #68b738;
  --basic-grey: #350505;
  --basic-black: #000000;
  --basic-white: #ffffff;

  --special-grey: #cdcdcd;
  --special-grey-2: #666666;
  --special-dark-grey: #444444;
  --special-black: #111111;
  --special-error: #ff8282;
  --special-focus: #444444;
  --special-border-input: #e7e7e7;
  --special-green-opacity: rgba(104, 183, 56, 0.85);
}
